In [1]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.4.0-cp39-cp39-macosx_14_0_arm64.whl (17.5 MB)
     |████████████████████████████████| 17.5 MB 1.8 MB/s eta 0:00:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.4.0
WARNING: You are using pip version 21.2.4; however, version 25.3 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector
import pandas as pd

In [3]:
mysql.connector.connect(host='localhost',user='root',password='',database='world')

In [4]:
mysql.connector.connect(host='localhost',user='root',password='',database='world')

In [7]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",      # add password if any
    database="world"
)

print("Connected to MySQL ✅")

Connected to MySQL ✅

In [8]:

import pandas as pd

df = pd.read_sql_query("SELECT * FROM countrylanguage", conn)
df

/var/folders/xp/16rvslv92y7cv8xh8zlr4b880000gn/T/ipykernel_2869/2840573348.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM countrylanguage", conn)

    CountryCode    Language IsOfficial  Percentage
0           ABW       Dutch          T         5.3
1           ABW     English          F         9.5
2           ABW  Papiamento          F        76.7
3           ABW     Spanish          F         7.4
4           AFG     Balochi          F         0.9
..          ...         ...        ...         ...
979         ZMB      Tongan          F        11.0
980         ZWE     English          T         2.2
981         ZWE     Ndebele          F        16.2
982         ZWE      Nyanja          F         2.2
983         ZWE       Shona          F        72.1

[984 rows x 4 columns]